$font: 'Work Sans';
$bg: #0F1533;
$translucent-bg: rgba($color: #B2E1FF, $alpha: 0.9);
$text: #B2E1FF;
$other-2: rgba($color: #BCCEEF, $alpha: 0.95);
$text-2: #F1F5FF;
$orange: #F27047;
$red: #F2474C;
$other: linear-gradient(65deg, transparentize($color: $red, $amount: 0), transparentize($color: $orange, $amount: 0));
$sm: 800px;
$md: 1200px;
$lg: 1600px;

body {
  font-family: $font;
  background: $bg;
  color: $text;
  font-weight: 400;
  @media screen and (min-width: 6000px) {
    //you dont deserve to browse the internet in peace if you do it at this width.
    font-size: calc(8vh + 4vw) !important;
  }
}

h1 {
  margin: 0;
  font-weight: 200;
}

h2, h3, h4, h5 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $text;
  &:visited {
    color: $text;
  }
}

.container {
  width: 100%;
  max-width: calc(1400px - 2rem);
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 3600px) {
    max-width: calc(1800px - 2rem);
  }
  @media screen and (min-width: 4800px) {
    //fuck you if you browse at this width btw
    max-width: 100%;
  }
  @media screen and (max-width: 1400px) {
    max-width: calc(1400px - 5rem);
    width: calc(100% - 3rem);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.ogr {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: $other;
}