@import '../../sass/vars.scss';

.Hero {
  .Hero-SVG {
    background-color: $bg;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: $text;
    margin-top: -3%;
  }
}

svg#island {
  .a, .aa, .ab, .ac, .ad, .ae, .af, .ag, .ah, .ai, .aj, .ak, .al, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .v, .w, .x, .y, .z {
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    fill-rule: evenodd;
  }

  .a {
    stroke: url(#a);
  }

  .b {
    stroke: url(#b);
  }

  .c {
    stroke: url(#c);
  }

  .d {
    stroke: url(#d);
  }

  .e {
    stroke: url(#e);
  }

  .f {
    stroke: url(#f);
  }

  .g {
    stroke: url(#g);
  }

  .h {
    stroke: url(#h);
  }

  .i {
    stroke: url(#i);
  }

  .j {
    stroke: url(#j);
  }

  .k {
    stroke: url(#k);
  }

  .l {
    stroke: url(#l);
  }

  .m {
    stroke: url(#m);
  }

  .n {
    stroke: url(#n);
  }

  .o {
    stroke: url(#o);
  }

  .p {
    stroke: url(#p);
  }

  .q {
    stroke: url(#q);
  }

  .r {
    stroke: url(#r);
  }

  .s {
    stroke: url(#s);
  }

  .t {
    stroke: url(#t);
  }

  .u {
    stroke: url(#u);
  }

  .v {
    stroke: url(#v);
  }

  .w {
    stroke: url(#w);
  }

  .x {
    stroke: url(#x);
  }

  .y {
    stroke: url(#y);
  }

  .z {
    stroke: url(#z);
  }

  .aa {
    stroke: url(#aa);
  }

  .ab {
    stroke: url(#ab);
  }

  .ac {
    stroke: url(#ac);
  }

  .ad {
    stroke: url(#ad);
  }

  .ae {
    stroke: url(#ae);
  }

  .af {
    stroke: url(#af);
  }

  .ag {
    stroke: url(#ag);
  }

  .ah {
    stroke: url(#ah);
  }

  .ai {
    stroke: url(#ai);
  }

  .aj {
    stroke: url(#aj);
  }

  .ak {
    stroke: url(#ak);
  }

  .al {
    stroke: url(#al);
  }
}